body {
    margin: 0;
    height: 100vh; /* Высота равна высоте окна браузера */
    overflow: hidden; /* Убираем скролл */
    background-image: url('obshina50pr.jpg'); /* Задаём фон */
    background-size: cover; /* Изображение покрывает весь экран */
    background-position: center; /* Центруем изображение */
    background-repeat: no-repeat; /* Запрещаем повторение */
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #000;
}
  h1{
    position: relative;
    top: 250px;
    font-weight: bold;
    color: white;
    font-family: 'Arial', 'Helvetica', sans-serif;
    text-align: center;
  }
  .registration-form {
    max-width: 350px;
    width: 90%; /* Для адаптивности */
    padding: 20px;
    background-color: #f7f7f7; /* Светло-серый фон формы */
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень */

    /* Центрирование */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.registration-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #333; /* Тёмный цвет текста */
}

.registration-form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc; /* Серый цвет границ */
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

.registration-form button {
    position: relative;
    top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #000000; /* Зелёная кнопка */
    color: white;
    font-size: 16px;
    font-family: 'Arial', 'Helvetica', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.registration-form button:hover {
    background-color: #a04598; /* Более тёмный оттенок зелёного при наведении */
}
.rectangle-1 {
    position: fixed; /* Закрепляем полосу внизу экрана */
    bottom: 0; /* Прижимаем к нижней части экрана */
    left: 0; /* Ставим к краю */
    background-color: black;
    height: 150px;
    width: 100vw; /* Покрывает всю ширину окна */
    margin: 0;
    padding: 0;
}

  .signtext {
    font-family: 'Arial', 'Helvetica', sans-serif;
    position: relative;
    left: 95px;
    color: black;
    text-decoration: none;
}

.hrefsign {
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: black;
    text-decoration: none;
}

.hrefsign:hover {
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: rgb(196, 10, 196);
    text-decoration: none;
}
.mainhref a {
    position: relative;
    left: 1800px;
    font-size: 25px;
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: relative;
}

.mainhref a:hover {
    color: rgb(196, 0, 196);
    text-decoration: none;
}