<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main site</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

    <h1>Market Place JDM-OBSHINA</h1>
<div class="introdctuion">
 <P><br>This market was created for posting and purchasing old JDM-class cars.<br> Here you can buy from ordinary Japanese cars to good German racing cars.<br>
    Created
    front-end developer: <u> Piskorsky</u>
    and Back-end Developer: <u>Garda</u>
</div>

    <div class="button-sell">
    <a href="seller.html">
        <button class="button-50" role="button">Sell a car</button>
      </a>
    </div>
    <div class="button-buy">
        <a href="buyer.html">
            <button class="button-51" role="button">Buy a car</button>
          </a>
        </div>
        <div class="container">
            <div class="rectangle-1"></div>  
          </div>
          <div class="container1">
            <div class="rectangle-2"></div>  
          </div>
          <div class="mainimage">
          <img 
          src="2cdda73588f59114729895aec0bdac49.jpg"
          width="600"
          height="600"
          />
        </div>

        <div class="gardatext">
          <p>Back-end Developer:</p> 
          <a href="https://github.com/Gardabtw"target="_blank" >Garda</a>
      </div>
      
      <div class="pisktext">
          <p>Front-end Developer:</p> 
          <a href="https://github.com/piskorsky"target="_blank" >Piskorsky</a>
      </div>
      <div class="registtext">
        <a href="register.html">Registration</a>
      </div>
      <div class="signup">
        <a href="sign.html">Sign up</a>

      </div>
</body>
</html>
